@font-face {
  font-family: 'MuseoSansCyrl-900';
  src: url('MuseoSansCyrl-900.eot');
  src: url('MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
       url('MuseoSansCyrl-900.svg#MuseoSansCyrl-900') format('svg'),
       url('MuseoSansCyrl-900.ttf') format('truetype'),
       url('MuseoSansCyrl-900.woff') format('woff'),
       url('MuseoSansCyrl-900.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

